<html>
<head>
  <title>顽劣的石头 —— Welcome to gisgogo!</title>
  <script src="/static/require.js" defer async="true" data-main="/static/index.js"></script>
  <!-- <script type="text/javascript" src="/static/require-config.js"></script> -->
  <link rel="stylesheet" href="/static/css/draw.css" type="text/css" />
  <link rel="stylesheet" href="/static/css/index.css" type="text/css" />
  <link rel="stylesheet" href="/static/jslib/ol/ol.css" type="text/css" />
</head>
<body>
  <div id="mapdom" class="mapdom">
    <div id = "province-container" class = "province-container">
        <select id="province-select" class="province-select">
            <option value ="CN">中国</option>
          </select>
    </div>
    <div id = "draw" class = "draw">
        <!-- <img id = "Point" src="/static/image/point.png" title="画点">
        <img id = "LineString" src="/static/image/line.png" title="画线">
        <img id = "Polygon" src="/static/image/polygon.png" title="画面">
        <img id = "Clear" src="/static/image/clear.png" title="清除绘图"> -->
    </div>
  </div>
  <div id="bottom-icp" class="bottom-icp">
    @2018 <a href="https://blog.csdn.net/shaxiaozilove/" target="_blank">顽劣的石头</a> 版权所有. chao_gis@163.com. 鄂ICP备18006689号
  </div>
</body>
</html>